7.14.20.txt
7.15.20.txt
7.16.20.txt
randoms.out
randoms.txt
speeder
gmon.out
ran
unittests
KSolve2Solvitaire
KSolve
g++
*.exe
*.obj
*.pdb
*.ilk
frystl/tests
frystl/.vscode
frystl/.editorconfig
frystl/.gitignore
