gmon.out
ran
unittests
benchmark
KSolve2Solvitaire
KSolve
*.exe
*.obj
*.pdb
*.ilk
frystl/tests
frystl/.vscode
frystl/.editorconfig
statistics/__pycache__/*
frystl/.gitignore
thread-test
AvailableMovesTester
callgrind.out.*

